#loader{
    padding-top: 2%;
    animation: fadeIn 3s,
    slideInDown 2s;
}

#text-loader{
    margin-bottom: 0;
    padding-bottom: 0;
}

.loaded #loader{

}

.loaded #content{
    padding-top: 1%;
    visibility: visible;
    animation: fadeIn 3s;
}

body {
    font-size: 1em;
    line-height: 1.4;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}


/* =============================================================================
   GOOGLE MAPS
   ========================================================================== */
#gmap {
    text-align: center;
    margin: 20px auto 20px auto;
}

#gmap iframe {
    width: 93%;
    height: 200px;

    border: 10px solid #090909;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#gmap small a,
#gmap small a:active,
#gmap small a:visited {
    color: #b1bf92;
    text-decoration: none;
    outline: none;
}

#gmap small a:hover {
    color: #b1bf92;
    text-decoration: underline;
    outline: none;
}

/* ===================
    Theme
   =================== */

.title {
    color: black;
}
.introtext {
    background: black;
    background: rgba(0, 0, 0, 0.4);
}

.head-sarah {
    font-family: "EdwardianScrAltITCTT", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 4em;
    /*line-height: 100%;*/
}

.date {
    margin-top: 10px;
    font-family: "futura_ltbook", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
}

body {
    font-family: "futura_ltbook", "HelveticaNeueLTStdRegular","HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
}

#bg-image {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #1e1e1e;
}
#bg-image img {
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-filter: blur(4px) sepia(50%);
    filter: blur(4px) sepia(50%);
}

#bg-container {

}


/* =============================================================================
   FONTS
   ========================================================================== */

@font-face {
    font-family: 'futura_ltbold';
    src: url('futuralt-bold-webfont.eot');
    src: url('futuralt-bold-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
         url('futuralt-bold-webfont.woff') format('woff'),  /* Modern Browsers */
         url('futuralt-bold-webfont.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('futuralt-bold-webfont.svg#futura_ltbold') format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltbook';
    src: url('futuralt-book-webfont.eot');
    src: url('futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-book-webfont.woff') format('woff'),
         url('futuralt-book-webfont.ttf') format('truetype'),
         url('futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltregular';
    src: url('futuralt-webfont.eot');
    src: url('futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-webfont.woff') format('woff'),
         url('futuralt-webfont.ttf') format('truetype'),
         url('futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
        font-family: 'EdwardianScrAltITCTT';
        src: url('edwasai.eot');
        src: url('edwasai.eot?#iefix') format('embedded-opentype'),
                 url('edwasai.woff') format('woff'),
                 url('edwasai.ttf') format('truetype'),
                 url('edwasai.svg#edwasai') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'EdwardianScrAltITCTTBold';
        src: url('edwasaib.eot');
        src: url('edwasaib.eot?#iefix') format('embedded-opentype'),
                 url('edwasaib.woff') format('woff'),
                 url('edwasaib.ttf') format('truetype'),
                 url('edwasaib.svg#edwasaib') format('svg');
        font-weight: normal;
        font-style: normal;
}
